import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}
.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #00003B;
}
.form {
    background-color: #fff;
    width: 60vw;
    border-radius: 8px;
    padding: 10px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
.title {
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    color: #000000;
  }
h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: grey;
}
.inputContainer {
    position: relative;
    height: 40px;
    width: 90%;
    margin-bottom: 15px;
  }
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(186, 186, 255);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    color: #000000;
  }
  
  /* Hide the placeholder texts (a) */
  
::placeholder {
    color: transparent;
  }
.label {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 0 4px;
    background-color: transparent;
    color: #d8c9c9;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
.submitBtn {
    display: block;
    padding: 10px 25px;
    border: none;
    background: rgb(0, 0, 134);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
.submitBtn:hover {
    background: rgb(85, 85, 255);
    transform: translateY(-2px);
    color: whitesmoke;
  }
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgb(139, 139, 255);
  }
.input:focus {
    border: 2px solid rgb(186, 186, 255);
  }
.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }

@media (min-width:900px){
    .form {
        width: 25vw;
    }
}

.container{
  align-items: center;
  height: fit-content;
  background-color: #fff;
  margin-top: 250px;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px;
  padding-bottom: 15px;
}
h1{
  text-align: center;
  font-size: 2rem;
  color:#000000;
}
.btn{
  display: block;
  border: none;
  padding: 0.5rem 0.6rem;
  background: rgb(0, 0, 134);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  max-width: fit-content;
}
.btn:hover{
  background: rgb(85, 85, 255);
  transform: translateY(-2px);
  color: whitesmoke;
}

@media (min-width:900px){
  .container {
      width: 25vw;
  }
}
.games{
  align-items: center;
  height: fit-content;
  background-color: #fff;
  margin-top: 170px;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px;
  padding-bottom: 15px;
  font-size: 2rem;
  color: #000000;
}
.games a {
  display: block;
  border: none;
  padding: 0.5rem 1rem;
  background: rgb(0, 0, 134);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  max-width: fit-content;
}

.games a:hover {
  background: rgb(85, 85, 255);
  transform: translateY(-2px);
  color: whitesmoke;
}
